.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  gap: 7px;

  position: absolute;
  height: auto;
  margin: 10px;
  width: fit-content;

  z-index: 100;
}

#cellGroup {
  display: flex;
  flex-direction: row;
}

/* Button styling */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.toggles {
  color: white;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
}

.toggles:hover {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;

  & .descBox {
    display: block;
  }
}

.checkbox-container {
  gap: 5px;

  background-color: #121212;
  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 20px;
  max-height: 40vh; /* Set maximum height relative to viewport */
  width: 350px;
  scrollbar-color: dark;

  overflow: auto;

  display: none;
}

.checkbox-container::-webkit-scrollbar {
  width: 5px;
}

.checkbox-container::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}

.violin-container {
  display: none;
  width: 75%;
  max-width: 500px;
  height: 35vh;
  overflow-y: auto;
  scrollbar-color: dark;
  background-color: #121212;
  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 20px;
}

#violin-image {
  /* height: 100%;  */
  /* width: 250px; */
  /* width: 100%; */
  transform-origin: center center; 
  object-fit: cover; 
}

#violin-canvas {
  width: 100%;
  transform-origin: center center; 
  object-fit: cover; 
}

.violin-container::-webkit-scrollbar {
  width: 5px;
}

.violin-container::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}

.no-violin-container {
  display: none;
  color: white;
  width: 75%;
  height: 10vh;
  overflow-y: auto;
  scrollbar-color: dark;
  background-color: #121212;
  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 20px;
}

.input-elements {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #121212;

  height: fit-content;
  /* background-color: black; */

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-bottom: 5px;
}

.clearButton,
.modeButton {
  width: 100%;
  height: 30px;

  line-height: 10px;

  margin-top: 2.5px;
}

.modeButton {
  margin-bottom: 5px;
}

.textInput {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.box {
  margin-right: 5px;
}

.notfound {
  display: none;
}

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.desc-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 5px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.iconBtn {
  background-color: #282828;
  color: white;
  margin: 3px;

  justify-content: center;
  align-items: center;
  text-align: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.iconBtn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.iconBtn svg {
  width: 100%; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  fill: #fff; /* Icon color */
}

.descBox {
  background-color: #282828;
  border-radius: 10px;
  /* border: 1px solid #ccc; */
  color: rgb(255, 255, 255);
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  text-align: center;
  width: 200px;
  float: right;

  justify-self: center;
  align-self: center;

  display: none;
}

.slider-input {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 5px;
}

.slider-input:hover .descBox {
  display: block;
}

#warningBox {
  text-align: left;
  width: 300px;
}

.slider-container {
  width: 200px;
  background-color: #282828;
  align-items: center;
  text-align: center;
  gap: 5px;
  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.slider {
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  width: 100%;
  padding: 5px;
}

.slider-value {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  width: 25%;
}

.slider-min-max {
  font-size: 12px;
}

.slider-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

@media (max-width: 426px) {
  .filter {
    bottom: 0;
  }
}
