.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;

  gap: 7px;

  position: absolute;
  height: auto;
  margin: 10px;
  width: fit-content;

  z-index: 100;
}

#cellGroup {
  display: flex;
  flex-direction: row;
}

/* Button styling */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.toggles {
  background-color: rgb(97, 97, 97);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
}

.toggles:hover {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;

  & .descBox {
    display: block;
  }
}


.checkbox-container {
  gap: 5px;

  background-color: rgba(0, 0, 0, 0.8);

  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  max-height: 40vh; /* Set maximum height relative to viewport */
  width: 350px;
  scrollbar-color: dark;

  overflow: auto;
}

.checkbox-container::-webkit-scrollbar {
  width: 5px;
}

.checkbox-container::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
}

.input-elements {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

  height: fit-content;
  background-color: black;
}

.clearButton, .modeButton {
  width: 100%;
  height: 30px;

  line-height: 10px;

  margin-top: 5px;
}

.modeButton {
  margin-bottom: 5px;
}

.textInput {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.box {
  margin-right: 5px;
}

.notfound {
  display: none;
}

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
.plus-jakarta-sans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

.desc-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 5px;
}

/* .iconBtn:hover .descBox {
  display: block;
} */

.icon {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.iconBtn {
  background-color: rgb(97, 97, 97);
  color: white;

  justify-content: center;
  align-items: center;
  text-align: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.iconBtn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.iconBtn svg {
  width: 100%; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  fill: #fff; /* Icon color */
}

.descBox {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  width: 200px;
  float: right;

  justify-self: center;
  align-self: center;
}

.slider-container {
  width: 200px;
  background-color: #f9f9f9;
  align-items: center;
  text-align: center;
  gap: 5px;

  background-color: rgba(0, 0, 0, 0.8);

  border: rgba(58, 58, 58, 0.5) solid;
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
}

.slider {
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;  
  width: 100%;
  padding: 5px;
}

.slider-value {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  width: 25%;
}

.slider-min-max {
  font-size: 12px;
}

.slider-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

@media (max-width: 426px) {
  .filter {
    bottom: 0;
  }
}