body {
    background-color: black !important;
    margin: 0;
    overflow: hidden;
    font: 16px Arial;
}

canvas {
    display: block;
}

/* hides everything to prevent flickering */
body * {
    visibility: hidden;
}

footer {
    position: absolute;
    bottom: 0;    
    z-index: 999;

    opacity: 0.85;
}

footer p {
    margin: 5px;

    font-size: 13.5px;
    color: white;
}
a:link, a:visited {
    color: white;
    text-decoration: underline;
}

a:hover, a:focus, a:active {
    color: gray;
    text-decoration: underline;
}

.showing-container {
    position: fixed;
    top: 70px;
    right: 10px;
    /* z-index: 1000; */
}

.colorbar-wrapper {
    display: none;
    position: fixed;
    top: 120px;
    right: 10px;
    width: 50px;
    text-align: center;
}

.colorbar {
    width: 30px;
    height: 100px;
    background: linear-gradient(to bottom, #B40426, #FFFFFF, #3B4CC0); /* Gradient for coolwarm color map */
    margin: 0 auto;
    border-radius: 5px;
}

.colorbar-label {
    color: white;
    font-size: 14px;
    margin: 5px 0;
}