body {
    background-color: black !important;
    margin: 0;
    overflow: hidden;
    font: 16px Arial;
}

canvas {
    display: block;
}

/* hides everything to prevent flickering */
body * {
    visibility: hidden;
}

footer {
    position: absolute;
    bottom: 0;    
    z-index: 999;

    opacity: 0.85;
}

footer p {
    margin: 5px;

    font-size: 13.5px;
    color: white;
}