/* /src/ui/Navbar.css */
.navbar-nav {
  margin-left: auto;
  z-index: 100;
}

#title {
  display: flex;
  flex-direction: column;

  color: white;
}

#title p {
  margin: 0;
  color: rgb(189, 189, 189);
}
