.svg-overlay {
    position: absolute;
    left: 10px; /* Position it to stick to the left */
    bottom: 10px; /* Stick to the top */
    width: 25%; /* Set width to 25% of the screen width */
    height: 50%; /* Set height to 50% of the screen height */
    background-color: black;
    border: 5px solid #90909000;
    z-index: 10;
    box-shadow: #8b8b8b 0px 0px 5px 0px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden; /* Ensure content respects the border-radius */
    box-sizing: border-box;
}

.svg-overlay.resizing {
    cursor: nwse-resize;
}

.svg-overlay:hover {
    cursor: default;
}

.svg-overlay:hover::before {
    content: "";
    position: absolute;

    border-radius: inherit; /* Apply the same border-radius */
    pointer-events: none;
}

.svg-overlay:hover:before {
    cursor: pointer;
}

.svg-overlay:hover:before {
    pointer-events: none;
}

.svg-overlay.resizable-right {
    cursor: ew-resize;
}

.svg-overlay.resizable-bottom {
    cursor: ns-resize;
}

.svg-overlay.resizable-corner {
    cursor: nwse-resize;
}

.top-controls {
    height: 20px;
    width: 50px; /* Start with a small width */
    border-radius: 25px;
    background-color: #8b8b8b;
    cursor: grabbing;
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.1s ease-in-out, background-color 0.1s ease-in-out, transform 0.1s ease-in-out; /* Smooth transition for expanding, background color, and shrinking */
}

.top-controls:hover {
    width: 150px; /* Expand width when hovered */
    background-color: #5e43f3;
    transform: translateX(-50%) scale(1.2); /* Slightly scale down */
}

.top-controls:active {
    transform: translateX(-50%) scale(0.8); /* Slightly scale down */
}
