.overlay {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 25%;
    height: 50%;
    background-color: black;
    border: 5px solid #90909000;
    z-index: 10;
    box-shadow: #8b8b8b 0px 0px 5px 0px;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    box-sizing: border-box;
    
    transition: 0.1s ease-in-out;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff5722;
    border-radius: 50%;

    display: block;
}

.circle.hovered {
    transform: scale(2);
    z-index: 10;
    background-color: rgba(var(--r), var(--g), var(--b), 1);
    cursor: pointer; /* Change mouse pointer to hand icon on hover */
}

.top-controls {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 10px;
    z-index: 11;
}

.min_max_button {
    filter: brightness(0) invert(1);
    width: 20px;
    cursor: pointer;
}

.cluster-text {
    border-radius: 25px;
    color: black;
    font-size: 14px;
    text-align: center;
    padding-inline: 10px;
    z-index: 11;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    max-width: 100%; /* Ensures the text element does not exceed the container width */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
}
