.overlay {
  position: absolute;
  right: 10px; /* Position it to stick to the left */
  bottom: 10px;
  width: 25%; /* Set width to 25% of the screen width */
  height: 50%; /* Set height to 50% of the screen height */
  /* background-color: #121212; */
  background-color: black;
  border: 5px solid #90909000;
  z-index: 10;
  /* box-shadow: 0 4px 8px #ba9ffb, 0 6px 20px #ba9ffb; */
  box-shadow: #8b8b8b 0px 0px 5px 0px;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden; /* Ensure content respects the border-radius */
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}

.overlay.resizing {
  cursor: nwse-resize;
}

.overlay:hover {
  cursor: default;
}

.overlay:hover::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: inherit; /* Apply the same border-radius */
  pointer-events: none;
}

.overlay:hover:before {
  cursor: pointer;
}

.overlay:hover:before {
  pointer-events: none;
}

.overlay.resizable-right {
  cursor: ew-resize;
}

.overlay.resizable-bottom {
  cursor: ns-resize;
}

.overlay.resizable-corner {
  cursor: nwse-resize;
}

.top-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 11;

  width: 100%;
}

.min_max_button {
  filter: brightness(0) invert(1);
  width: 20px;
  cursor: pointer;
  transition: 0.25s ease-out;
}

.min_max_button:hover {
  scale: 1.25;
}
