/* https://codepen.io/HackyG/pen/LYaxjvJ */
/* Helix CSS */
#loadingIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;

  color: white;
  background-color: black;
}

[helix] {
  display: flex;
  gap: 0.5em;
}
/* Dot Layout & structure */
[helix] li {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0.5em;
}
[helix] li div {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), transparent);
  aspect-ratio: 1/1;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-30px, 0px);
  opacity: 0;
}
[helix] li div:nth-child(2) {
  top: calc(2em + 15px);
}

[helix] li span {
  width: 2px;
  height: calc(2.5em - 5px);
  background-image: linear-gradient(180deg, white, gray);
  transform: translate(-33px, 12px);
  z-index: 10;
  opacity: 0;
  animation: rotateLine 2s infinite linear, fade 0.1s ease-out forwards;
}

/* Animations */
/* Base Config */
[helix] li div:nth-child(1) {
  animation: cycle-animation 2s infinite cubic-bezier(0.42, 0, 0.58, 1),
    scale 2s infinite cubic-bezier(0.42, 0, 0.58, 1),
    fade 0.1s ease-out forwards;
}
[helix] li div:nth-child(2) {
  animation: cycle-animation-reverse 2s infinite cubic-bezier(0.42, 0, 0.58, 1),
    scale-reverse 2s infinite cubic-bezier(0.42, 0, 0.58, 1),
    fade 0.1s ease-out forwards;
}
/* Staggered animations */

[helix] li:nth-child(2) div,
[helix] li:nth-child(2) span {
  animation-delay: calc(70ms * 1);
}
[helix] li:nth-child(3) div,
[helix] li:nth-child(3) span {
  animation-delay: calc(70ms * 2);
}
[helix] li:nth-child(4) div,
[helix] li:nth-child(4) span {
  animation-delay: calc(70ms * 3);
}
[helix] li:nth-child(5) div,
[helix] li:nth-child(5) span {
  animation-delay: calc(70ms * 4);
}
[helix] li:nth-child(6) div,
[helix] li:nth-child(6) span {
  animation-delay: calc(70ms * 5);
}
[helix] li:nth-child(7) div,
[helix] li:nth-child(7) span {
  animation-delay: calc(70ms * 6);
}
[helix] li:nth-child(8) div,
[helix] li:nth-child(8) span {
  animation-delay: calc(70ms * 7);
}
[helix] li:nth-child(9) div,
[helix] li:nth-child(9) span {
  animation-delay: calc(70ms * 8);
}
[helix] li:nth-child(10) div,
[helix] li:nth-child(10) span {
  animation-delay: calc(70ms * 9);
}

@keyframes cycle-animation {
  0% {
    transform: translate(-40px, 0px) scale(1);
  }
  50% {
    transform: translate(-40px, calc(2em + 15px)) scale(1);
  }
  100% {
    transform: translate(-40px, 0px);
  }
}
@keyframes cycle-animation-reverse {
  0% {
    transform: translate(-40px, 0px);
  }
  50% {
    transform: translate(-40px, calc(-2em + -15px));
  }
  100% {
    transform: translate(-40px, 0px);
  }
}
@keyframes scale {
  0% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 5;
  }
  25% {
    width: 20px;
    height: 20px;
    left: -2.5px;
    background-color: white;
    z-index: 15;
  }
  50% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 15;
  }
  75% {
    width: 10px;
    height: 10px;
    left: 2.5px;
    background-color: white;
    z-index: 0;
  }
  100% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 5;
  }
}
@keyframes scale-reverse {
  0% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 5;
  }
  25% {
    width: 10px;
    height: 10px;
    left: 2.5px;
    background-color: white;
    z-index: 0;
  }
  50% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 5;
  }
  75% {
    width: 20px;
    height: 20px;
    left: -2.5px;
    background-color: white;
    z-index: 15;
  }
  100% {
    width: 15px;
    height: 15px;
    left: 0px;
    background-color: white;
    z-index: 15;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotateLine {
  from {
    transform: translate(-33px, 12px) rotateX(0deg);
  }
  to {
    transform: translate(-33px, 12px) rotateX(360deg);
  }
}
