#filter-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.list {
  padding: 10px;

  width: 500px;
  max-width: 100%;
  left: auto !important;

  background-color: rgb(60, 60, 60);
  color: white;

  border: 0;

  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.list div b {
  width: 100%;
  text-align: center;
}

.list p {
  margin: 0;
}

.listFilters {
  margin-top: 7.5px !important;
  width: 100%;

  max-height: 75px;

  flex-shrink: 0;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: auto;

  font-style: italic;
  color: rgb(169, 169, 169);
}

.listFilters::-webkit-scrollbar {
  width: 5px;
}

.listFilters::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}